./liferay-plugins-sdk-6.1.1/portlets/EetdbAdmin-portlet/docroot/WEB-INF/classes
.\liferay-plugins-sdk-6.1.1\portlets\EetdbAdmin-portlet\docroot\WEB-INF\classes
liferay-plugins-sdk-6.1.1\portlets\EetdbAdmin-portlet\docroot\WEB-INF\classes

