/*@import url(custom_common.css);

@import url(color_schemes/green.css);

@import url(color_schemes/orange.css);*/

/* ---------- Base styles ---------- */

body {
	background: #FFFFFF;
	font-size: 62.5%;
	font-family: Verdana, sans-serif;
}

a {
	color: #5B677D;
	text-decoration: underline;
}

a:hover {
	color: #06C;
	text-decoration: none;
}

hr, .separator {
	border-color: #BFBFBF transparent #FFF;
	border-style: solid;
	border-width: 1px 0;
}

#wrapper {
	background: none;
	margin: 0 auto;
	max-width: 100%;
	min-width: 960px;
	position: relative;
	height: 100%;
}

.ie6 #wrapper {
	width: 100%;
}

#banner {
	background: none;
	height: auto;
}

#banner .company-title {
	float: none;
	margin: 0px;
	position: static;
}

body #banner .logo a {
	float: left;
}

.current-community {
	display: none;
}

.logo .current-community {
	background: #A6AFBE url(../images/dock/my_places_public.png) no-repeat 15px 50%;
	color: #FFF;
	display: block;
	float: right;
	font-size: 0.8em;
	font-weight: bold;
	margin: 15px 0 0 20px;
	padding: 7px 17px 7px 40px;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

#skip-to-content:focus {
	clip: auto;
	right: 0;
	z-index: 200;
}

#sign-in {
	background: url(../images/common/key.png) no-repeat 3px 50%;
	font-weight: bold;
	padding: 5px 5px 5px 25px;
	position: absolute;
	right: 0;
	top: 1.4em;
}

.guest-community .logo .current-community {
	display: none;
}

.private-page .logo .current-community {
	background-image: url(../images/dock/my_places_private.png);
}

.ie6 #banner {
	height: 1%;
}

.ie6 #banner h1.logo {
	height: 1%;
}


/* For ExtJS month picker button BG (not grey)*/
.x-date-mp-btns button {
    background-color: #083772;
    background-image: none;
    text-shadow: none;
}
.x-date-middle button {
	text-shadow: none !important; 
	background-image: none !important;
}


/* ---------- Main navigation ---------- */

#navigation {
	background: transparent; /*url(../images/navigation/bg.png) repeat-x 0 0;*/
	clear: both;
	margin: -25px 0 0;
	min-height: 2.2em;
	padding: 0 5px;
	position: absolute;
	z-index: 1;
}

#navigation ul {
	list-style: none;
	margin: 0;
	padding: 3px;
}

.ie7 #navigation ul {
	padding: 2px;
}

#navigation li, #navigation a {
	display: inline-block;
	font-size:15px;
}

.ie6 #navigation li, .ie7 #navigation li, .ie6 #navigation a, .ie7 #navigation a {
	display: inline;
	zoom: 1;
	z-index: 200;
}

#navigation li {
	position: relative;
	vertical-align: top;
}

#navigation a {
	color: #000;
	font-size: 1.1em;
	font-weight: bold;
	text-decoration: none;
}

.ie7 #navigation a {
	padding: 4px 15px;
}

#navigation .aui-dd-drop a {
	cursor: move;
}

#navigation .selected a, #navigation a:hover, #navigation a:focus, #navigation .child-menu li a, #navigation .aui-dd-dragging, .lfr-navigation-proxy {
	color: #FFF;
}

#navigation li:hover .child-menu {
	background: #1E2529;
	display: block;
	position: absolute;
	width: 200px;
	z-index: 200;
}

.ie6 #navigation li.hover .child-menu {
	background: #1E2529;
	display: block;
	position: absolute;
	width: 200px;
	z-index: 200;
}

.ie6 #navigation li.hover .child-menu, .ie7 #navigation li:hover ul.child-menu {
	left: 0;
	top: 25px;
}

#navigation .child-menu {
	display: none;
}

#navigation .child-menu li {
	border-width: 0 0 1px;
	display: block;
	float: none;
	margin: 0;
}

#navigation .child-menu li a {
	cursor: pointer !important;
}

.ie7 #navigation .child-menu li a {
	zoom: 1;
}

#navigation .child-menu li a:hover {
	background-color: #020509;
}

#navigation .child-menu .selected a {
	background: #020509 url(../images/navigation/bullet_selected.png) no-repeat 5px 50%;
}

/* ---------- Portlet wrapper and icons ---------- */

.portlet {
	background-color: #EEF0F2;
	border: 1px solid #C8C9CA;
	margin: 0 0 10px;
	padding: 3px;
	text-align: left;
}

.portlet-topper {
	background: #D4D4D4 url(../images/portlet/header_bg.png) repeat-x 0 0;
	border: 1px solid;
	border-color: #C8C9CA #9E9E9E #9E9E9E #C8C9CA;
	font-size: 1.1em;
}

.portlet-title {
	color: #222;
	float: none;
	font-weight: normal;
	min-width: 50%;
	padding: 5px;
	text-shadow: 1px 1px #FFF;
}

.lfr-portlet-title-editable {
	margin-top: -4px;
	z-index: 9999;
}

.ie .lfr-portlet-title-editable {
	margin-top: -6px;
}

.lfr-portlet-title-editable-content {
	padding: 0;
}

.ie .lfr-portlet-title-editable-content {
	margin-top: 4px;
}

.portlet-icons {
	float: none;
}

.portlet-icons .portlet-close-icon {
	border-width: 0;
}

.page-maximized .portlet-icons {
	font-size: 11px;
}

.portlet-icon-back {
}

.ie .portlet-title {
	padding-bottom: 5px;
}

.ie6 .portlet-topper {
	zoom: 1;
}

/* ---------- Footer ---------- */

#footer {
	text-align: right;
}

/* ---------- Hudcrumbs ---------- */

.lfr-hudcrumbs {
	position: fixed;
	top: 0;
	z-index: 200;
}

.lfr-hudcrumbs ul {
	background: #414445;
	background: rgba(0, 0, 0, 0.8);
}

.lfr-hudcrumbs .breadcrumbs li a, .lfr-hudcrumbs .breadcrumbs li span {
	color: #FFF;
}

.lfr-hudcrumbs li span {
	background-image: url(../images/common/breadcrumbs_hud.png);
}

/* ---------- Misc. ---------- */

.lfr-panel-container {
	background-color: transparent;
}

.aui-combobox .aui-field-input {
	padding: 4px 3px 3px;
	font-size: 11px;
	height: 15px;
}

.aui-combobox .aui-field {
	float: left;
	line-height: 0;
}

.lfr-portlet-title-editable-content .aui-field {
	float: none;
	display: inline;
}

/* ---------- Extras ---------- */

.portlet-borderless-bar {
	-moz-border-radius: 20px;
	-moz-box-shadow: inset 0 1px 3px #000;
	-webkit-border-radius: 20px;
	-webkit-box-shadow: inset 0 1px 3px #000;
	border-radius: 20px;
	box-shadow: inset 0 1px 3px #000;
}

.portlet-topper {
	-moz-box-shadow: 1px 1px 0 #FFF;
	-webkit-box-shadow: 1px 1px 0 #FFF;
	box-shadow: 1px 1px 0 #FFF;
}

.logo .current-community {
	-moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5), 1px 1px 0 #FFF;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5), 1px 1px 0 #FFF;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5), 1px 1px 0 #FFF;
}

#navigation li.selected a {
	/*-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.8);
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.8);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.8);*/
}

.aui-combobox .aui-toolbar-first {
	-moz-border-radius-topleft: 0;
	-moz-border-radius-bottomleft: 0;
	-webkit-border-top-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

/* --- Customization ---*/
.aui-column-name{
text-align: left; 
font-style: normal;
font-weight: normal;

color: rgb(100, 100, 100); 
font-family: verdana,sans-serif; 
font-size: 1.0em; 
display: block;
float: left;
width: 220px;
}
.aui-column-value {
text-align: left; 
font-style: normal; 
color: black; 
font-family: verdana,sans-serif; 
font-size: 1.0em; 
display: inline;
float: left;
width: 70%;
}
.eetdb-search-result-title {
color: rgb(62, 116, 181);
font-size: 1.1em; 
}
.lfr-panel-container a {
color: rgb(62, 116, 181);
font-size: 1.0em; 
font-style: underline;
}
.lfr-panel-container a:hover{
color: rgb(181, 62, 62);
font-size: 1.0em; 
font-style: underline;
}
h1 {
font-size: 1.8em;
color: rgb(62, 116, 181);
font-family: verdana,sans-serif;
margin-top: 6px;
margin-bottom: 6px;
}
h3 {
font-size: 1.2em; color: rgb(100, 100, 100); 
margin-top: 3px;
margin-bottom: 3px;
}
p {
font-size: 0.9em; color: black; float: right; display: block;
}
.lfr-panel-title {
padding: 0.2em 0.3em; font-size: 1em; color: rgb(51, 51, 51); 
}
.lfr-panel-container {
border-width: 1px;
border-style: solid;
border-color: rgb(222, 222, 222) rgb(191, 191, 191) rgb(191, 191, 191) rgb(191, 191, 191);
margin-top: 5px;
margin-botton: 5px;
}
.aui-column .aui-column-content {
padding-top: 3px; padding-bottom: 3px; padding-right: 10px; padding-left: 0px; margin: 0px;
}
.aui-field-input-text {
height: 1.8em;
}
.toggle_id_eetdb_portlet_entity_searchtoggle-link {
text-align: right;
float: right;
display: block;
}
.aui-search-bar {
display: inline;
vertical-align: middle;
}
.taglib-search-toggle{
padding-bottom: 0px;
vertical-align: bottom;
width: 100%;
}
.aui-field-wrapper {
overflow: inherit;
}
.taglib-search-toggle-advanced{
margin-bottom: 10px;
margin-top: 10px;
}
.taglib-search-toggle-basic{
margin-bottom: 10px;
}
.aui-field-content{
margin-bottom: 10px;
margin-top: 10px;
}
.page-links{
margin-top: 10px;
margin-bottom: 10px;
}
.search-results{
margin-top: 10px;
margin-bottom: 10px;
}