.icon-plus {
	background-image:url('images/add.png') ! important;
}
.icon-upload {
	background-image:url('images/up.png') ! important;
}
.icon-cross {
	background-image:url('images/cross.png') ! important;
}