.entitytemplate-list, .entity-list, .topic-list {
  padding: 0 3px 0 3px; }

.entitytemplate-list-item, .entity-list-item, .topic-list-item {
  margin-top: 3px;
  padding-left: 20px;
  font-size: 11px;
  line-height: 20px;
  cursor: pointer;
  border: 1px solid #fff; }

.entitytemplate-list .x-item-selected, .entity-list .x-item-selected, .topic-list .x-item-selected {
  font-weight: bold;
  color: #15428B;
  /*background-color: #DFE8F6;*/
  border: 1px dotted #A3BAE9; }

.entitytemplate-list-item-hover, .entity-list-item-hover, .topic-list-item-hover {
  background-color: #eee; }

/*
.feed-grid .x-grid-rowbody {
	margin: 5px 20px 10px 25px !important;
	color: #555;
	font-size: 11px;
}
*/
.preview .x-panel-body ul {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px; }

.preview .x-panel-body .x-boxselect {
  background-image: url(/html/themes/classic/images/forms/input_shadow.png);
  background-repeat: no-repeat;
  border: 1px solid;
  border-color: #BFBFBF #DEDEDE #DEDEDE #BFBFBF; }

.preview .x-panel-body .x-boxselect input[type="text"] {
  background-image: none;
  background-repeat: no-repeat;
  border: none; }

input.x-form-checkbox[type="button"] {
  vertical-align: -1px;
  width: 13px;
  height: 13px;
  background-image: url("../resources/themes/images/default/form/checkbox.gif");
  overflow: hidden;
  padding: 0;
  border: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0; }

input.x-form-checkbox[type="button"]:hover {
  background-position: 0 0;
  background-image: url("../resources/themes/images/default/form/checkbox.gif"); }

.x-form-cb-checked input.x-form-checkbox[type="button"]:hover {
  background-position: 0 -13px;
  background-image: url("../resources/themes/images/default/form/checkbox.gif"); }

