<?xml version="1.0" encoding="UTF-8"?>
<beans 
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
		
	<bean id="jdbcDataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="maxActive" value="-1" />
        <property name="maxIdle" value="1" />
        <property name="url" value="jdbc:mysql://92.53.105.222:3306/" />
        <property name="username" value="" />
        <property name="password" value="" />
    </bean>
    
    <bean id="fileDaemon" class="org.unido.eetdb.daemon.FileSystemDaemon">
        <property name="pathToMonitor" value="C:\\Temp" />
        <property name="pathToStore" value="C:\\Temp\Storage" />
        <property name="supportedFormats">
        	<set>
        		<value>csv</value>
        	</set>
        </property>
    </bean>

    <bean id="pop3Daemon" class="org.unido.eetdb.daemon.Pop3Daemon">
        <property name="pathToStorage" value="C:\\Temp" />
        <property name="pop3Host" value="" />
        <property name="uid" value="" />
        <property name="pwd" value="" />
    </bean>

	<bean id="serviceHost" class="org.unido.eetdb.servicehost.ServiceHost">
		<property name="services">
			<list>
				<ref bean="fileDaemon" />
				<ref bean="pop3Daemon" />
			</list>
		</property>
	</bean>	
</beans>